/* global styles and themes */
body {
    --circle-size: clamp(1.125rem, .6875rem + 1.86vw, 1.375rem);
    --background: hsl(235, 21%, 11%);
    --foreground: hsl(234, 39%, 85%);
    --background-text: hsl(234, 11%, 52%);
    --top-image: url("./images/bg-mobile-dark.jpg");
    --toggle-button: url("./images/icon-sun.svg");
    --background-todo: hsl(235, 24%, 19%);
    --selected-toggle: hsl(220, 98%, 61%);
    --border-text: hsl(233, 14%, 35%);
}

.light-theme {
    --background: hsl(236, 33%, 92%);
    --foreground: hsl(237, 14%, 26%);
    --top-image: url("./images/bg-mobile-light.jpg");
    --toggle-button: url("./images/icon-moon.svg");
    --background-todo: hsl(0, 0%, 98%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    background-image: var(--top-image);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}




/* color toggle + main flex for the page */
#color-toggle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    background-image: var(--toggle-button);
    background-size: contain;
    bottom: 5px;
}


#main-flex {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
}

#title-flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
}

h1 {
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 1.8rem;
}

/* top input container */
#input-text-form {
    display: block;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 4rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--background-todo);
    border-radius: 5px 5px 5px 5px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    min-height: 3.5rem;
    margin-bottom: 1rem;
}

#input-text {
    background-color: var(--background-todo);
    box-sizing: border-box;
    outline-style: solid;
    outline-color: var(--background-todo);
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    color: var(--foreground);
    caret-color: #5786b5;
    font-size: 1rem;
    width: 100%;
}

#input-check {
    background-color: var(--background-todo);
}


/* todo container + styling */
#todo-list-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.checkbox-container:nth-of-type(1) {
    border-radius: 5px 5px 0px 0px;
}

/* Checkbox styling */
.checkbox-container {
    display: block;
    position: relative;
    padding: 1.5rem 3rem 1.5rem 4rem;
    margin-bottom: 0px;
    border-bottom: 1.5px solid var(--border-text);
    min-height: 4rem;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    overflow-wrap: break-word;
    background-color: var(--background-todo);
    color: var(--foreground);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* hide default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0rem;
    width: 0rem;
}

/* add custom checkbox */
.checkmark {
    position: absolute;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1.5px solid var(--border-text);
    border-radius: 50%;
    background-color: var(--background-todo);
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.checkbox-container input:focus~.checkmark {
    border: 2px solid var(--foreground);
}

/*gradient on hover */
.checkbox-container:hover input~.checkmark {
    border: none;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/* checkmark (hidden while not hovering */
.checkmark::before {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 100vmax;
    width: calc(var(--circle-size) - 4px);
    height: calc(var(--circle-size) - 4px);
    background: var(--background-todo);
}


/* show on hover */
.checkbox-container:hover input:not(:checked)~.checkmark::before {
    display: block;
}


/* show checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;

}

/* and add border when focused */
.checkbox-container input:checked:focus~.checkmark {
    border: 2px solid var(--foreground);
}


/* add gradient on check */
.checkbox-container input:checked~.checkmark {
    border: none;
    background-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6.5px;
    top: 3.5px;
    width: 3px;
    height: 8px;
    border: solid hsl(0, 0%, 100%);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* remove button */
.remove {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 1rem;
    height: 20px;
    width: 20px;
    background-image: url(./images/icon-cross.svg);
    background-size: contain;

}

/* crossout styling */

.crossed-out {
    text-decoration: line-through;
    color: var(--background-text);
}

.not-crossed {
    text-decoration: none;
    color: var(--foreground);
}


/* Bottom Controls */
#below-todo-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 1rem;
    padding-right: 0.3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-todo);
    border-radius: 0px 0px 5px 5px;
}

.below-text {
    font-size: 1rem;
    color: var(--border-text);
    background-color: var(--background-todo);
    border: none;
}

#clear-completed-button:hover {
    color: var(--foreground);
}

#toggle-button-container {
    display: flex;
    flex-direction: row;
    background-color: var(--background-todo);
    justify-content: center;
    margin-top: 1rem;
    height: 3rem;
}

.toggle-view-button {
    color: var(--background-text);
    background-color: var(--background-todo);
    border: none;
    font-weight: 700;
    padding: 1rem;
}

.toggle-unselected:hover {
    color: var(--foreground);

}

.toggle-selected {
    color: var(--selected-toggle);
}

#instructions {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--background-text);
}

/* Responsiveness */
@media only screen and (min-width: 500px) {
    .checkbox-container .checkmark:after {
        left: 8px;
        top: 5px;
    }
}


@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
        background-image: url("./images/bg-desktop-dark.jpg");
        background-size: 100% 30%;
    }

    #main-flex {
        min-width: 33rem;
        width: 38%;
        margin: 3rem auto;
    }

    #title-flex {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .checkbox-container .checkmark:after {
        left: 9px;
        top: 6px;
    }


    #input-text-form {
        margin-bottom: 1.5rem;
    }

    #toggle-button-container {
        position: relative;
        bottom: 4rem;
        align-self: center;
    }
}


/* Attribution + footer */
footer {
    position: relative;
    bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--foreground);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}